<!DOCTYPE html>
<html>
  <head>
    <title>FirstRailsAppBatch661</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Mon site Site web</h1>
    <%= yield %>


    <%= link_to "Home", root_path %> |
    <%= link_to "Contact", contact_path %> |
    <%= link_to "About", about_path %> |
  </body>
</html>
